// compileOnSave
//======================================================
// variables
$c-custom: #665f60;
$c-purple: #b6b2d7;
$c-light-grey: #ebebeb;
$c-white: #ffffff;
//fonts
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i');
@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/Mark Simonson - Proxima Nova Thin-webfont.woff2') format('woff2'),
       url('../fonts/Mark Simonson - Proxima Nova Thin-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/Mark Simonson - Proxima Nova Semibold-webfont.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/Mark Simonson - Proxima Nova Alt Bold-webfont.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/Mark Simonson - Proxima Nova Alt Black-webfont.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}
//bulma
@import "bulma/bulma.sass";
//helper
@import "helpers/media-queries";
// sections
//@import "sections/main";
// blocks
@import "blocks/slider";
//======================================================
//styles to all elements
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

//styles to body
body {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: $c-custom;
}
.container {
  max-width: 1170px;
}
//======================================================
// section header
.header {
  padding-top: 35px;
  height: 1070px;
  background: $c-purple url('../img/bgd.jpg') center center no-repeat;
  background-size: cover;
  outline: none;
  &-title {
    font-family: 'Proxima Nova', Georgia, sans-serif;
    font-size: 72px;
    text-transform: uppercase;
    line-height: 60px;
    color: $c-white;
    font-size: 400;
    text-align: center;
    margin-top: 300px;
  }
  &-text {
    font-size: 30px;
    font-style: italic;
    color: $c-white;
    text-align: center;
    margin-top: 30px;
  }
}
.navbar {
  background: transparent;
  padding: 0 30px;
  &-brand .navbar-item:hover {
    background: transparent;
  }
  &-menu {
    background: transparent;
    & .navbar-item {
      color: $c-white;
      font-family: 'Proxima Nova', Georgia, sans-serif;
      font-size: 24px;
      text-transform: uppercase;
      &:hover, &.is-active {
        color: $c-custom;
        background: transparent;
      }
    }
  }
  &-burger {
    span{
      background: white;
      width: 25px;
      height: 2px;
    }
    &.is-active span:nth-child(1) {
      margin-top: -12px;
    }
  }
}
//======================================================
// section about
.about {
  background: $c-white;
  padding: 60px 15px;
  outline: none;
  & .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    @include tablet-landscape-min {
      justify-content: space-between;
      flex-wrap: nowrap;
      padding: 120px 0;
    }
  }
  &-card {
    position: relative;
    overflow: hidden;
  }
  &-img {
    display: block;
    max-width: 100%;
    height: auto;
    transition: transform 2s ease;
    &:hover {
      transform: scaleX(1.1);
    }
  }
  &-info {
    position: absolute;
    top: 75px;
    left: 0;
    right: 0;
    margin: auto;
    & svg {
      display: block;
      margin: 0 auto;
    }
  }
  &-title {
    font-family: 'Proxima Nova', Georgia, sans-serif;
    font-size: 36px;
    line-height: 47px;
    text-transform: uppercase;
    color: $c-white;
    margin: 30px auto;
    text-align: center;
    width: 250px;
  }
  &-text {
    font-size: 20px;
    color: $c-custom;
  }
  &-description {
    max-width: 635px;
    margin: 30px 15px;
    @include tablet-landscape-min {
      margin: 30px;
    }
    @include desktop-min {
      margin-top: 75px;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    & .button {
      width: 195px;
      font-size: 20px;
      font-style: italic;
      transition: all 0.5s ease;
      margin-top: 30px;
      @include tablet-landscape-min {
        margin-top: 45px;
      }
      @include desktop-min {
        margin-top: 80px;
      }
      &:hover {
        background: $c-purple;
        color: $c-white;
      }
    }
  }
}
//======================================================
// section services
.services {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @include tablet-landscape-min {
      flex-direction: row;
    }
  }
  &-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @include mobile-landscape-min {
      flex-direction: row;
      flex-wrap: wrap;
    }
    @include tablet-landscape-min {
      max-width: calc(760 / 1170 * 100%);
    }
    &--hero {
      order: -1;
      max-width: 100%;
      @include tablet-landscape-min {
        max-width: calc(410 / 1170 * 100%);
        order: 0;
      }
      height: 800px;
      padding: 115px 25px 0;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      background: url('../img/unsplash_523ae1f5502d6_1.jpg') center center no-repeat;
      background-size: cover;
      color: $c-white;
    }
    &-title {
      font-family: 'Proxima Nova', Georgia, sans-serif;
      font-size: 36px;
      text-transform: uppercase;
      margin-bottom: 115px;
    }
    &-text {
      text-align: center;
      font-style: italic;
      font-size: 18px;
      & span {
        display: block;
        font-style: normal;
        font-weight: bold;
      }
    }
  }
  &-item {
    width: 100%;
    @include tablet-min {
      width: 50%;
    }
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // flex-wrap: wrap;
    // max-width: 50%;
    background: $c-white;
    // padding: 95px;
    &:nth-child(3) {
      order: -1;
      @include tablet-min {
        order: 0;
      }
    }
    &--grey {
      background: #dbdbdb;
    }
    &-title {
      margin: 0;
      padding: 0;
      font-size: 24px;
      font-weight: bold;
      text-transform: uppercase;
      color: $c-custom;
    }
    &-text {
      margin: 0;
      padding: 0;
      font-size: 18px;
      font-style: italic;
      color: $c-custom;
      text-align: center;
      max-width: 200px;
    }
  }
}
//======================================================
// section works
.works {
  & .container {
    position: relative;
    width: 100%;
  }
  background: url('../img/DeathtoStock_Wired3.jpg') 50% 50% no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  &-header {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &-title {
    margin: 35px 0 60px;
    font-family: 'Proxima Nova', Georgia, sans-serif;
    font-size: 36px;
    line-height: 47px;
    text-transform: uppercase;
    color: $c-white;
  }
  & .button {
    background: transparent;
    margin-bottom: 50px;
    color: white;
    font-size: 20px;
    font-style: italic;
    text-transform: capitalize;
    transition: all 0.5s ease;
    &:hover {
      background: white;
      color: $c-custom;
    }
  }
}
//======================================================
// section team
.team {
  background: $c-light-grey;
  &-header {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &-title {
    margin: 35px 0 60px;
    font-family: 'Proxima Nova', Georgia, sans-serif;
    font-size: 36px;
    line-height: 47px;
    text-transform: uppercase;
    color: $c-custom;
  }
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &-name {
    
  }
}
//======================================================
// section contact
.contact {
  position: relative;
  height: 900px;
  background: rgba(#9f9acf, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  &-header {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &-title {
    margin: 35px 0 60px;
    font-family: 'Proxima Nova', Georgia, sans-serif;
    font-size: 36px;
    line-height: 47px;
    text-transform: uppercase;
    color: $c-white;
  }
  &-form {
    margin-top: 260px;
    max-width: 860px;
    z-index: 1;
    opacity: 0.3;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &-input {
    width: calc(50% - 15px);
    height: 56px;
    margin-bottom: 25px;
    padding-left: 25px;
  }
  &-textarea {
    width: 100%;
    padding-left:25px;
    padding-top: 25px;
  }
  & .button {
    margin: 55px auto;
    text-transform: uppercase;
    background: rgba(#9f9acf, 1);
    color: $c-white;
  }
  &-map {
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  &-slide {
    position: absolute;
    right: 0;
    width: 350px;
    height: 90px;
    background: rgba($c-white, 0.2);
    display: inline-block;
    transform: translateX(260px);
    transition: transform 1s ease;
    &:hover {
      transform: translateX(-10px);
    }
    & span {
      display: inline-block;
      width: 90px;
      height: 100%;
      background: rgba(#9f9acf, 1);
      position: relative;
      & img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
    & p {
      margin: 0;
      padding: 0;
      display: inline-block;
      text-align: center;
      position: relative;
      // vertical-align: middle;
    }
    &--adr {
      top: 220px;
    }
    &--tel {
      top: 310px;
    }
  }
  &-reference {
    width: 85px;
    height: 85px;
    background: rgba(#9f9acf, 1);
    position: absolute;
    bottom: 50px;
    right: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
//======================================================
// section footer
.footer {
  height: 185px;
  background: rgba(#9f9acf, 1);
  & .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  &-text {
    color: $c-white;
    font-size: 18px;
    margin: 0;
    padding: 0;
  }
  &-social {
    display: inline-block;
    &-link {
      padding: 0 10px;
    }
  }
}
